{{title "vety-pety"}}

{{#if errorList}}
  {{#each errorList as |error|}}
    <p>{{error.detail}}</p>
  {{/each}}
{{/if}}

<div style="display:flex;justify-content:space-around">
  <div>
    {{register/current-header currentStep=_currentStep}}

    {{#if (eq _currentStep 0)}}
      {{register/user-section user=user}}
    {{else if (eq _currentStep 1)}}
      {{register/pet-section animal=animal}}
    {{else if (eq _currentStep 2)}}
      {{register/payment-section}}
    {{/if}}
  </div>
  {{register/subscription-plan selectedSubscriptionPlan=selectedSubscriptionPlan
                               makePaymentAndSaveTask=makePaymentAndSaveTask
                               currentStep=_currentStep
                               onContinue=(action "nextStep")}}
</div>





